extends ./layouts/_default.pug
block variables
	- var title = 'Verticurl Frontend Test | Thiago Higuchi'
	- var description = 'Test project using Pug, SASS, and JS'
	- var author = 'Thiago Higuchi'
	- var extraCSS = [FILE_PREFIX+'css/pages/home.min.css']
	- var imgPrefixUrl = IMG_PREFIX_URL

block content
	main
		section#hero
			img.decoration.decoration--circle(src=imgPrefixUrl+'images/hero/round-bg.svg' alt="Background decoration" height="1280" width="1920" loading="lazy")
			img.decoration.decoration--picture(src=imgPrefixUrl+'images/hero/image-bg.png' alt="Background picture" height="1280" width="1920" loading="lazy")
			.container
				.hero
					.hero__logo
						img(src=imgPrefixUrl+'images/hero/logo.svg' alt="Logo")
					.hero__highlight 
						span 7
						h1 Lorem ipsum dolor sit amet mauris dictum magna tortor sir arcu
					.hero__text
						h5 Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.
					.hero__cta
						a.cta(href='speakers.html' aria-label="Speakers Page") 
							button Speakers Page
					.border--round.overflow--hidden
						.hero__box
							.inner
								p Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.
								br
								p Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu. Lorem ipsum dolor sit amet mauris dictum magna tortor si arcu.

		section#steps
			img.illustration.illustration--middle(src=imgPrefixUrl+'images/steps/illustrations--middle.png' alt="Illustration 1" height="1518" width="577" loading="lazy")
			.container
				include ./blocks/_steps.pug

		section#cta 
			img.illustration.illustration--bottom(src=imgPrefixUrl+'images/steps/illustrations--bottom.png' alt="Illustration 2" height="1432" width="1021" loading="lazy")
			.container.border--round.overflow--hidden
				.boxtransparent 
					.inner
						p #[b Lorem ipsum dolor sit amet condimentum accumsan] lorem ipsum dolor sit amet porttitor nam non vestibulum. Dui ante non aptent hac molestie viverra conubia libero letius nostra ut. Diam nam non eu aliquam lobortis felis. lorem ipsum dolor sit amet porttitor nam non vestibulum.
						a.cta(href='speakers.html' aria-label="Speakers Page") 
							button Speakers Page

	script(src=FILE_PREFIX+'js/home.js' defer)
